@model SmokeFreeSaverViewModel
@using SmokeFreeSaver.DataAccess.Models;

@{
    ViewData["Title"] = "Congratulations!";
}

<div class="text-center">
    <h1 class="display-4">Congratulations!</h1>
    <p> You saved () today!</p>
    <p> Total saved so far: ()</p>

    <div class="optionList">
        <div class="optionItem">
            <a href="~/Home/Index">Return to Home Page</a>
        </div>
    </div>
</div>
