@using SmokeFreeSaver.DataAccess.Models

@* Take out today's date, put in Congrats and just go to dashboard *@

<form action="~/Home/DidNotSmoke" method="post">
    <div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3 form-group">
                <label>Today's Date</label>
                <input type="date" class="form-control" name="currentDate" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 offset-md-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary">Go To Dashboard</button>
            </div>
        </div>
    </div>
</form>
