@using SmokeFreeSaver.DataAccess.Models

<form action="~/Home/SmokedToday" method="post">
    <div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3 form-group">
                <label>Today's Date</label>
                <input type="date" class="form-control" name="currentDate" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3 form-group">
                <label>How many cigarettes have you smoked today?</label>
                <input type="number" class="form-control" name="numberOfCigarettesSmoked"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3 form-group">
                <label>How many packs have you bought today?</label>
                <input type="number" class="form-control" name="numberOfPacksBought"/>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 offset-md-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-primary">Go To Dashboard</button>
            </div>
        </div>
    </div>
</form>
